.arduino-nav {
    display: flex;
    flex-direction: column;
    font-family: Open Sans, Lucida Grande, Lucida, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    justify-content: flex-start;
    left: 0;
    min-height: 100px;
    position: fixed;
    top: 0;
    transform: translateY(0);
    transition: transform .25s ease-out;
    width: 100%;
    z-index: 1000;
}

.nav-hidden {
    /* min-height: 57px; */
    transform: translateY(-45px);
}

.nav-top {
    background-color: #008184;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.596);
    border-style: none none solid none;
}

.navbar-top {
    top: 0;
}




.web-links {
    color: white;
    padding: 14px 20px;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1.5px;
    border: 1px solid rgba(255, 255, 255, 0.596);
    border-width: 1px 1px 1px 1px;
    border-style: none solid none none;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.web-links:hover {
    background-color: #006d70;
}


.nav-rightside {
    display: flex;
    align-items: center;
    height: 43px;

}

.search-box {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #006d70;
    width: 220px;
    border-radius: 20px;
    position: relative;
}

.search-box:hover {
    border: 1px solid rgb(205, 204, 204);
}

.input-icon {
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}

.search-input {
    height: 100%;
    background-color: transparent;
    outline: none;
    padding: 0 16px 0 0;
    cursor: text;
    letter-spacing: .3px;
    line-height: 1em;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    border: 0;
    box-sizing: border-box;
    cursor: text;
    letter-spacing: .3px;
}

#search-box input:focus {
    border: 2px solid white;
}


.application-list {
    padding: 8px 15px;
    border: 1px solid white;
    border-style: none none none solid;
    margin-left: 15px;
    cursor: pointer;
    color: white;

}

.application-list:hover {
    background-color: #006d70;
}

.sign-button {
    padding: 15px 18px;
    color: white;
    font-weight: 700;
    line-height: 14px;
    margin-right: 10px;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid white;
    border-style: none none none solid;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.sign-button:hover {
    background-color: #006d70;
}

.navbar-bot {
    display: flex;
    background-color: #008184;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    z-index: 999;
}


.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
}

.logo-section {
    height: 100%;
}

.logo-section a {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 0px 20px;
    height: 57px;
    cursor: pointer;
}

.logo-section a:hover {
    background-color: #006d70;
}

.logo-section img {
    height: 25px;
}



.pages {
    display: flex;
    height: 57px;
    align-items: center;
    position: relative;
}

.page-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
}

.pages-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    justify-content: center;


}

.page-wrapper:hover {
    background-color: #006d70;
}

.drop-down {
    background-color: #005c5f;
    display: none;
    position: absolute;
    top: 55px;
    transition: all .2s linear;
}

.drop-down a {
    border-top: 1px solid #7fcbcd;
    color: #fff;
    display: flex;
    font-weight: 500;
    justify-content: flex-start;
    letter-spacing: 1.5px;
    padding: 12px 24px;
    text-transform: uppercase;
    width: 100%;
}

.pages a:hover .drop-down {
    display: block;
}

.pages a:hover .arrow {
    rotate: 180deg;
}
