.WebEditor-container {
    margin-top: 25px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    max-width: 694px;
    border: 1px solid #c9d2d2;
    height: 170px;
    border-radius: 3px;
    position: relative
}

.WebEditor-Left {
    width: 60%;
    font-size: .75rem;
    letter-spacing: .01em;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}

.WebEditor-Left h3 {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 1rem;

}

.WebEditor-Buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-size: .875rem;
    letter-spacing: .01em;
    font-weight: 700;
}

.WebEditor-CodeOnline {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
    background-color: #008184;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1.28px;
    line-height: normal;
    outline: none;
    padding: 0 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 32px;
    text-transform: uppercase;
    height: 30px;
}

.WebEditor-CodeOnline:hover {
    background-color: #005c5f;
}

.WebEditor-GettingStarted {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
    background-color: #008184;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1.28px;
    line-height: normal;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 32px;
    text-transform: uppercase;
    margin-left: 16px;
    height: 30px;
    color: #008184;
    background-color: transparent;
    border-color: transparent;
}

.WebEditor-GettingStarted:hover {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .08);
}

.WebEditor-right img {
    position: absolute;
    width: 40%;
    right: 0;
    bottom: 0;
}